h1,h2,h3,h4,h5,h6{   
    color: red;
}

h1{
    font-size: 40px;
    border: 1px solid black;
}

ol{
    background-color: yellow;
}

li{
    font-size: 20px;
}

li.lista-ordenada:nth-child(even){
    color: green;
}

li.lista-ordenada:nth-child(odd){
    text-transform: uppercase;
}

.italic-item-list{
    font-weight: bold;
}

.programming-language-item{
    color: blue;
}

.java{
    background-color: pink;
}

ul.allied-list li:hover{
    font-weight: bold;
    background-color: white;
}