body {
    font-size: 16px;
}

h1 {
    color: orange;
    font-size: 65px;
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

#cores {
    background-color: paleturquoise;
    font-style: italic;
    line-height: 20px;
    text-align: justify;
    text-decoration: underline;
}

#amarelo{
    background-color: yellow;
}

#vermelho{
    background-color: red;
}

#marrom{
    background-color: brown;
}

.semelhante {
    background-color: rgb(168, 97, 168);
}